:root{
  --background-color: #FFFFFA;
  --backgroun-color2: #BDD9BF;
  --font-color: #000000;
}

body{
  display: flex;
  background-color: var(--background-color);
  font-size: large;
}

footer {
  grid-column: 2;
  display: flex;
  border-top: 2px solid var(--font-color);
  background-color: var(--backgroun-color2);
}

footer p {
  padding: 5px;
  margin: auto;
}

nav{
  border-bottom: 2px solid var(--font-color);
}

#navList{
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 5px;
  margin: 0;
}

#wrapper{
  margin: auto;
}