.page{
    background-color: var(--backgroun-color2);
}

.main{
    justify-self: center;
}

.content {
    justify-self: center;
    padding: 10px;
}

.gameList {
    padding: 0 10px 10px 10px;
    margin: 0 0 0 28px;
}

.title{
    font-size: 24;
    padding: 0;
    margin: 0;
}