.gameview {
    height: 90vh;
    width: 98vw;
    margin: 5px;
    border: 2px solid var(--font-color);
}

.page{
  margin-right: auto;
  margin-left: auto;
  background-color: var(--backgroun-color2);
}